@use "layout/_header.scss";
@use "layout/_footer.scss";
@use "abstracts/_typography.scss" as *;
@use "abstracts/_variables.scss" as *;
@use "abstracts/_functions.scss" as *;
@use "abstracts/_mixins.scss" as *;
@use "pages/home-main.scss" as *;
@use "pages/_cart.scss" as *;
@use "pages/_login.scss" as *;
@use "pages/_product.scss" as *;
@use "components/reveiw-card.scss" as *;
@use "components/bread-crumb.scss" as *;
@use "components/product-card.scss" as *;
@use "components/button.scss" as *;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

  
}




a{
  text-decoration: none;


}

li{
  list-style: none;
}