@use "../abstracts/_variables.scss" as *;
@use "../abstracts/_functions" as *;
@use "../abstracts/_mixins.scss" as *;
.footer {
  background-color: rgba(240, 240, 240, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  gap:convert(30);
  padding: 0 convert(17);

  .footer__subscribe {
    display: flex;
    margin-top: convert(-135);
    flex-direction: column;
    gap: 2rem;
    background-color: $primary-black;
    border-radius: convert(20);
    padding: convert(24) convert(24);

    .footer__subscribe-heading {
      text-align: left;
      font-family: $font-primary;
      transform: translateY(-3);
      font-weight: 700;
      font-size: 2rem;
      line-height: convert(35);
      letter-spacing: 0;
      color: $primary-white;
    }

    .footer__subscribe-email {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      gap: convert(12);

      .footer__email-input {
        @include button-style;
        display: flex;
        height: convert(42);

        justify-content: left;
        gap: convert(12);
        background-color: $primary-white;
        padding: convert(12) convert(16);

        input {
          border: none;
          padding: 0;
          margin: 0;
        }
      }
      .footer__subscribe-button {
        @include button-style;
        @include medium-text;
        display: flex;
        height: convert(42);

        background-color: $primary-white;
        padding: convert(12) 0;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        border-radius: convert(62);
        border: none;
        outline: none;
      }
    }
    @media (min-width: $break-desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: convert(36) convert(64);
      margin-top: convert(-90);
      gap: convert(212);

      .footer__subscribe-heading {
        text-align: left;
        // width: convert(515);
        font-size: convert(40);
        line-height: convert(45);
        color: $primary-white;
        font-family: $font-primary;
      }
      .footer__subscribe-email {
        font-size: $font-size-medium;
      }
      .footer__subscribe-button {
        font-size: $font-size-medium;
      }
    }
  }
  .footer__main {
    
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    gap:1.5rem;

    .footer__brand {
      display: flex;
      text-align: left;
      flex-direction: column;
      align-content: space-between;
       gap: convert(20);

      .footer__brand-intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: convert(14);
        .footer__logo {
          .footer__logo-header {
            font-family: $font-primary;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0;
            vertical-align: middle;
            color: $primary-black;
            font-size: convert(33.45);
            transform:translateY(-0.4rem);
          }
        }
        .footer__brand-description {
          @include regular-text;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.6);
        }
      }
      .brand__socials {
        display: flex;
        flex-direction: row;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: convert(12);
          list-style: none;
        }
      }
      @media (min-width: $break-desktop) {
        .footer__brand {
          gap: convert(35);
          &-intro {
            gap: convert(25);
            .footer__logo {
              &-header {
                font-size: convert(33.45);
                color: $primary-black;
                
              }
            }
            .footer__brand-description {
              max-width: convert(248);
            }
          }
        }
      }
    }
    .footer__nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      justify-content: space-between;
      &-group {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        
          font-family: $font-secondary;
          font-size: $font-size-regular;
          color: $primary-black;
          line-height: convert(18);
          font-weight: $font-weight-medium;
          letter-spacing: convert(3);
        
        ul {
          gap: convert(16);
          display: flex;
          flex-direction: column;
          li {
            a {
              @include regular-text;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
      @media (min-width: $break-desktop) {
        display: flex;
        justify-content: space-between;
        gap: convert(113.5);
        &-group {
          gap:convert(26);
          flex:1;
          flex-wrap: wrap;
          width: max-content;
          ul {
            gap: convert(14.25);
            li {
              a {
                gap: convert(24);
                font-size: $font-size-medium;
                text-wrap-mode: nowrap;
                line-height: convert(19px);
              }
            }
          }
        }
      }
    }
    @media (min-width: $break-desktop) {
      flex-direction: row;
      justify-content: space-between;
      //gap: convert(113.5);
      margin-top: convert(50);
    }
  }
  .footer__bottom {
    display: flex;
    padding: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:1rem;
    margin-top:convert(10);

    .footer__copyright {
      @include regular-text;
      color: rgba(0, 0, 0, 0.6);
    }
    .footer__payments {
      ul {
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:0.75rem;
        width:convert(240);
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
          a {
            .payment-container {
              display: flex;
              align-items: center;
              justify-content: center;
              width: convert(39);
              height: convert(25);
              background-color: rgba(255, 255, 255, 1);
              border-radius: convert(4.61);
              border: convert(0.19) solid rgba(214, 220, 229, 1);
              box-shadow: 0px 0.38px 3.84px 0px rgba(183, 183, 183, 0.08);

              box-shadow: 0px 3.84px 7.68px 0px rgba(183, 183, 183, 0.08);
            }
          }
        }
      }
    }
  }
  @media (min-width: $break-desktop) {
    padding: 0 convert(100);

    .footer__bottom {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: convert(50);

      .footer__copyright {
        text-wrap-mode: nowrap;
      }
    }
  }
}
