@use "variables.scss" as *;
@use "functions" as *;

@mixin button-style {
  border-radius: $radius-round;
  border: none;
}

@mixin sectional-heading {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  letter-spacing: 0;
  vertical-align: middle;
  transform: translateY(-1rem);
  @media (min-width: $break-desktop) {
    font-size: 3rem;
  }
}

@mixin regular-text {
  font-size: $font-size-regular;
  font-family: $font-secondary;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin medium-text {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: $font-weight-medium;
  letter-spacing: 0;
}
@mixin small-text {
  font-family: $font-secondary;
  font-weight: $font-weight-regular;
  font-size: $font-size-small;
}

@mixin flex-row($justify) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-column($justify) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
}

@mixin hide-scrollbar-carousel($snap: false) {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  @if $snap {
    scroll-snap-type: x mandatory;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin rating-stars {
  fill: currentColor;
  gap: convert(2);
}

@mixin product-image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: $product-bg;
  border-radius: convert(13);
  overflow: hidden;
  aspect-ratio: 1/1;

  @media (min-width: $break-desktop) {
    border-radius: convert(20);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@mixin secondary-bold{
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  line-height: 100%;
  font-size: $font-size-medium;
}