@use "_typography.scss" as *;


$product-bg: #F0EEED;
$color-black: #000000;
$color-white: #ffffff;
$color-gray-text: #6b7280;
$border-gray-light: #f0f0f0;
$color-gray-border: #d9d9d9;
$color-red: #ff3333;
$color-green: #2ec4b6;
$original-price-gray:rgba(0, 0, 0, 0.4);

$container-width: 1240px;

$radius-small: 0.375rem;
$radius-medium: 0.75rem;
$radius-large:  1.25rem;
$radius-round: 62px;

$break-desktop:768px;
$break-tablet: 900px;
$break-mobile: 600px;
$color-checkmark:rgb(18, 198, 18);
$color-stars: #ffc633;
$radius-round:62px;
$color-red: rgba(255, 51, 51, 1);
$discount-red: #ff3333;
$discount-bg: rgba(255, 51, 51, 0.1);
$border-gray-light:rgba(0, 0, 0, 0.1);
$radius-medium: 1.25rem;
$color-gray-border:rgba(0, 0, 0, 0.1);
$color-gray-text:rgba(0, 0, 0, 0.6);
$color-switch-active:rgba(0, 0, 0, 0.3);
$container-width:1440px;
$radius-large: 1.25rem;
$font-primary: "Integral CF", sans-serif;
$font-secondary: "Satoshi", sans-serif;
$primary-black: rgb(0, 0, 0, 1);
$primary-white: rgba(255, 255, 255, 1);
$font-size-regular: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 2rem;
$font-desktop-large: 4rem;
$font-size-small:0.75rem;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-gray-border: rgba(0, 0, 0, 0.1) !default;
$border-gray-light: #F0EEED !default;
$color-gray-text: rgba(0, 0, 0, 0.6) !default;
$color-red: #FF3333 !default;
